.page {
    font-family: 'Gilroy', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 32px;
letter-spacing: 0px;
color:#fff;
padding: 0 0 120px 0;
background-color: #0B1D26;
}